<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.dlog.mapper.FortuneMapper">
    <insert id="addFortune">
        insert into fortune
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fortuneDate != null">fortune_date,</if>
            <if test="fortuneContent != null">fortune_content,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fortuneDate != null">#{fortuneDate},</if>
            <if test="fortuneContent != null">#{fortuneContent},</if>
        </trim>
    </insert>

    <select id="selectFortuneList" resultType="com.moon.dlog.domain.Fortune">
        select * from fortune
        <where>
            <if test="startTime != null">and fortune_date >= #{startTime}</if>
            <if test="endTime != null">and fortune_date &lt;= #{endTime}</if>
        </where>
        order by fortune_date
    </select>
</mapper>